// STYLES: colors
:root {
  --color__bg: rgb(28, 28, 28);
  --color__white: rgb(255, 255, 255);
  --color__accent-1: rgb(141, 153, 255);
  --color__accent-2: rgb(122, 94, 232);
  --color__accent-3: rgb(141, 214, 255);
}

// !STYLES: colors

// STYLES: gradients

:root {
  --grad__logo: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
}

// !STYLES: gradients

// STYLES: fonts
:root {
  --font__serif: Lora, 'Times New Roman', Georgia, Times, serif;
  --font__sans: Lato, Arial, Helvetica, sans-serif;
  --font__title: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --font__mono: 'Fira Code', 'Courier New', Courier, monospace;
}

// !STYLES: fonts