<header class="header">
  <div class="header__bubbles">
    <span class="header__bubble"></span>
    <span class="header__bubble"></span>
    <span class="header__bubble"></span>
    <span class="header__bubble"></span>
  </div>
  <div class="header__video-wrapper">
    <video class="header__video">
      <source src="video/roden.mp4"
              type="video/mp4">
    </video>
  </div>
  <div class="container">
    <div class="header__inner flex --align-center --just-end">
      <pictire class="header__logo">
        <img src="img/logo_roden.svg"
             alt="RODEN logo"
             class="header__logo-img">
      </pictire>
      <p class="header__descr"> мы молодая, но амбициозная дизайн-студия
      </p>
      <h1 class="header__title">
        Помогаем <span class="header__title-accent">запускать</span> цифровые продукты
      </h1>
      <nav class="header__nav">
        <span class="header__nav-line --top"></span>
        <span class="header__nav-line --bottom"></span>
        <ul class="header__nav-list flex --align-center --just-space">
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
          <li class="header__nav-item"><a href="#"
               class="header__nav-link">Послуги</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
